@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body{
    background-color: whitesmoke;
}
.hot{
    background-color: whitesmoke;
    background-image: url(image/hotel-paris.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: whitesmoke;
}
.lys{
    background-color: white;
    box-shadow: 2px 2px 4px 
    black;
}

#logo
{
    display: inline-block;
    margin-left: 8%;
    width: 8%;
    height: 8;
    margin-top: 1%;
    margin-bottom: 1%;
}

h1
{
    display: inline-block;
    Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size:4rem;
    font-weight: normal;
    text-align: center;
    margin-left: 5%;
    color: goldenrod;
	text-shadow: 2px 2px 4px 
black;
}
h2{
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-align: center;
    margin-top: 2%;
}
nav{
    margin: 1%;
    border-radius: 15px;
    color: white;
}
.basket{
    margin-left: 30%;
    color: cadetblue;
}
.heart{
    margin-left: 3%;
    color: cadetblue;
}
.cards{
    margin-left: 2%;
}
.card-img-top{
    height: 80%;
    width: auto;
}
.carousel-item{
    height: 650px;
}
.presentation{
    Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    text-align: center;
    font-size: 2rem;
    margin-top: 5%;
    margin-bottom: 5%;
}
footer{
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 2rem;
    text-align: center;
    margin-top: 1%;
}
.shop{
    margin-top: 2%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    padding: 2%;
}
#submit{
    background-color: cadetblue;
    color: azure;
    width: 250px;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}
.connexion{
    width: 30%;
    height: auto;
    background-color: rgba(224, 229, 229, 0.542);
    text-align: center;
    color:whitesmoke;
    font-size: 1.5rem;
    margin-left: 34.8%;
    margin-top: 5%;
    margin-bottom: 10%;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 3px 5px 2px black;
}


@media screen and (max-width:767.98px){
    .hot{
        background-color: whitesmoke;
    }
    h1
    {
        display: inline-block;
        Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        font-size:2.2rem;
        font-weight: normal;
        text-align: center;
        margin-left: 1%;
        color: goldenrod;
	    text-shadow: 2px 2px 4px 
    black;
    }
    h2{
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        text-align: center;
        margin-top: 1%;
    }
    #logo
    {
        display: inline-block;
        margin-left: 45%;
        width: 10%;
        height: 10%;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .carousel-item{
        width: 100%;
        height: auto;
    }
    article{
        margin: 3%;
    }
    .basket{
        margin-left: 3%;
    }
    .presentation{
        Font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        text-align: center;
        font-size: 1rem;
        margin-top: 5%;
        margin-bottom: 1%;
    }
    footer{
        font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
        font-size: 1rem;
        text-align: center;
        text-shadow: 1px 1px 1px black;
        font-size: small;
    }
    .cards{
        margin-left: auto;
    }
    .connexion{
        width: 80%;
        height: auto;
        background-color: rgba(224, 229, 229, 0.542);
        text-align: center;
        color:whitesmoke;
        font-size: 1.5rem;
        margin-left: 10%;
        margin-top: 1%;
        margin-bottom: 25%;
        padding: 1%;
        border-radius: 20px;
        box-shadow: 3px 5px 2px black;
    }
    .since{
        width: 95%;
        text-align: center;
    }
}
@media screen and (max-width:364.98px){
    .connexion{
        width: 90%;
        height: auto;
        background-color: rgba(224, 229, 229, 0.542);
        text-align: center;
        color:whitesmoke;
        font-size: 1.5rem;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 25%;
        padding: 1%;
        border-radius: 20px;
        box-shadow: 3px 5px 2px black;
    }
    .since{
        width: 95%;
        text-align: center;
    }
}








